<div nz-row>
    <div nz-col nzSpan="2" class="header-system-name">システム名称</div>
    <div nz-col nzSpan="16" class="header-menu">
        <div>
            <span>{{personInfoExc?.personId}}</span>
        </div>
        <div class="head-content">
            <span>{{personInfoExc?.personName}}</span>
        </div>
        <div class="head-content">
            <span>商品部_発注情報検索</span>
        </div>
    </div>
    <div nz-col nzSpan="6" class="header-logo">
        <img src="././assets/logo.png" alt="logo">
    </div>
</div>
